<%- include ('include/_header.ejs') -%>

  <!-- CONTENT-->
  <div class="container mt-5">

    <%- include ('include/message.ejs') -%> 

    <table class="table table-hover table-bordered " id="dataTable" width="100%" cellspacing="0">
      <thead style="font-size:2rem;" class="bg-warning align-items-center">
        <tr>
          <th class="text-center">Name</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Operations</th>
        </tr>
      </tfoot>
      <tbody class="myfont">

        <% employees.forEach(employee=> { %>
            <tr>
              <td><%= employee.name %> </td>
              <td><%= employee.designation %> </td>
              <td><%= employee.salary %> </td>
              <td>
                <a class="btn  btn-primary btn-sm box-shadow floatleft  " style="margin-left:5rem;" href="/employee/edit/<%= employee.id %> ">
                  <i class="fas fa-edit"></i> Edit
                </a>

                <form action="/employee/delete/<%= employee.id %>?_method=DELETE" method="POST">
                 <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn ms-3 ml-2 floatleft btn-danger btn-sm box-shadow">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>

                </form>
              </td>
            </tr>
        <% }) %>

      </tbody>
    </table>
  </div>

  <!-- /CONTECT-->

  <%- include ('include/_footer.ejs') -%>